<%= stylesheet_link_tag 'initalize', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'cur', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'product', media: 'all', 'data-turbolinks-track' => true %>

<div class="session">
  <div class="banner-top banner-top-img2">
    <p>中德合资、精工品质</p>
  </div>
  <div class="sess w1200 cf">
    <div class="sess-left fl">
      <div class="nav-box" id="tab">
        <ul class="">
          <div class="nav-item-title">主机产品</div>
          <li class="nav-item  nav-item-on product" data-id="24" data-name="12">
            <span class="nav-point nav-point-on">▶</span><span>烈焰浴暖热水机</span>
          </li>
          <div class="nav-item-title item-title-mag">末端产品</div>
          <li class="nav-item product" data-id="22" data-name="13">
            <span class="nav-point ">▶</span><span>风管机</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="sess-box fr">
      <div class="tab_box" id="ajax_comment_return">

        <div class="pro-box">
          <div class="company">
            <div class="company-title cf">
              <span class="company-point fl"></span>
              <h1 class="fl">主机产品</h1>
            </div>
            <div class="company-text">
              <img src="http://www.lionac.com/Uploads/Picture/Product/2018-03-21/5ab1f50fc2ff1.jpg" alt="">
              <h1>烈焰系列浴暖热水机组</h1>
              <p>莱恩水源热泵浴暖热水机组是一种利用地下浅层地热资源（土壤、地下水、地表水、城市污水等），既可供热又可制取生活热水的高效节能的空调系统。通过输入少量电能实现制取45-55℃的生活热水，高温型机组最高可实现65℃出水。广泛被应用于洗浴、桑拿、酒店、浴场、泳池等热水需求的场所，系统不向外界排放任何废气、废水、废渣，是一种理想的“绿色热水系统”。</p>
              <p><strong>莱恩“烈焰”系列浴暖热水机组（污水源）特点简介：</strong></p>
              <p>运行费用低: 全热回收工况时，可节省近50%的运行费用。</p>
              <p>回收热量大: 系统根据废水水量在30%-100%回收率之间自行调节热</p>
              <p>回收状态，最大限度利用废水热量。</p>
              <p>废热回收优势</p>
              <p>废水收集处理流程</p>
              <p>将洗浴用后的废水进行集中的收集（35℃左右），并去除废水中的毛发、杂质等（主要通过粗目过滤器、毛发过滤器、石英砂过滤器等装置），达到换热设备的使用要求。</p>
              <p>废热回收利用流程</p>
              <p>将洗浴废水（35℃左右）收集处理后，通过板式换热器将地下低温水（15℃）预加热，废水经过换热器后直接排走，被预热的地下中温水补入储水箱，达到节能的目的。</p>
              <p><br/></p></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    var $tab_li = $('#tab ul li');
    $tab_li.click(function () {
      $(this).addClass('nav-item-on').siblings().removeClass('nav-item-on');
      var index = $tab_li.index(this);
      $('div.tab_box > div').eq(index).show().siblings().hide();
      $(".nav-item .nav-point").hide();
      $(".nav-item-on .nav-point").show();
    });
  });

  $(function () {
    $('.item').removeClass('item-on');
    $('#product').addClass('item-on');
  });

  $(".product").click(function () {
    var product_name = $(this).attr('data-name');
    var product_id = $(this).attr('data-id');
    ajaxList(product_id, product_name);
  });

  function ajaxList(product_id, product_name) {
//    $.ajax({
//      type:'post',
//      url:"",
//      data:{product_id:product_id,category_id:product_name},
//      success:function(data){
//        $("#ajax_comment_return").html("");
//        $("#ajax_comment_return").append(data);
//      }
//    })
  }
</script>