<%= stylesheet_link_tag 'initalize', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'cur', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'introduce', media: 'all', 'data-turbolinks-track' => true %>

<div class="session">
  <div class="banner-top banner-top-img1">
    <p>开拓、创新、发展</p>
  </div>
  <div class="sess w1200 cf">
    <div class="sess-left fl">
      <div class="nav-box" id="tab">
        <ul class="left-ul">
          <li class="nav-item ">
            <a class="" href="#"><span class="nav-point ">▶</span><span>公司简介</span></a></li>
          <li class="nav-item ">
            <a class="" href="#"><span class="nav-point">▶</span><span>企业文化</span></a>
          </li>
          <li class="nav-item ">
            <a class="" href="#"><span class="nav-point">▶</span><span>企业荣誉</span></a></li>
        </ul>
      </div>
    </div>
    <div class="sess-box fr">
      <div class="tab_box">
        <div class="pro-box">
          <div class="company">
            <div class="company-title cf">
              <span class="company-point fl"></span>
              <h1 class="fl">公司简介</h1>
            </div>
            <div class="company-text">
              <p>
              <p>
                <span style=";font-family:仿宋;font-size:21px">
                  <span style="font-family:仿宋">&nbsp;&nbsp; 深圳市四达鑫机电技术有限公司成立于2015年，前身是一家2004年成立的工业循环水处理公司。从2015年开始，公司致力于成为一家专业制冷系统服务商，提供制冷设备维修保养、节能改造、水处理维护等服务。我们的目标是：降低设备运行成本，为客户创造实实在在的利润。</span>
                </span>
              </p>
              <p>
                <span style=";font-family:仿宋;font-size:21px">
                  <span style="font-family:仿宋">&nbsp;&nbsp; 公司拥有一批具有十多年制冷系统设备维护和管理经验的资深技术人员，建立了一套严谨的维保方案，擅长对制冷系统的故障进行快速诊断与修复。我公司彻底解决了业界冷水机组拆机通炮的问题，冷水机组无需停机亦可长期保持换热管壁洁净，让客户的制冷系统始终处于零故障、低能耗的运行状态，使客户的利益最大化。</span>
                </span>
              </p>
              <p>
                <span style=";font-family:仿宋;font-size:21px">
                  <span style="font-family:仿宋">&nbsp;&nbsp; 哪里有制冷系统，哪里就是我们要为之服务的地方。公司成立以来，我们积极进取，不断提高服务能力、控制服务成本，以优质的服务质量取得了客户的信赖，在业界赢得了良好的口碑和声誉。</span>
                </span>
              </p>
              <p>
                <span style=";font-family:仿宋;font-size:21px">
                  <span style="font-family:仿宋">&nbsp;&nbsp; 我们服务过的设备品牌有：开利、特灵、约克、大金、麦克维尔、日立、天加、格力、海尔、美的等。</span>
                </span>
              </p>
              <p>
                <span style=";font-family:仿宋;font-size:21px">
                  <span style="font-family:仿宋">&nbsp;&nbsp; 我们的成功案例包括：德昌电机、星光集团、福群电子、深晖企业、松下泰康电子、东海航空、川亿电脑等。</span>
                </span>
              </p>
              <p>
                <span style=";font-family:仿宋;font-size:21px">
                  <span style="font-family:仿宋">&nbsp;&nbsp; 我们珍惜每一次的服务机会，“一次做好、次次做好”是我们对自己的要求，客户的每一个反馈将使我们做得更好！</span>
                </span>
              </p>
              <!--<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(88, 88, 88); font-family: " microsoft="" text-indent:="" white-space:="" background-color:="">-->
                <!--<img src="http://laienkongtiao.pro4.liuniukeji.net/Public/ueditor/php/upload/20171205/15124548055236.jpg" title="莱恩全景图.jpg"/>-->
              <!--</p>-->
              <!--<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(88, 88, 88); font-family: " microsoft="" text-indent:="" white-space:="" background-color:="">-->
                <!--<br/>-->
              <!--</p>-->
              </p>
            </div>

          </div>
        </div>
        <div class="pro-box hide">
          <div class="culture">
            <div class="company-title cf">
              <span class="company-point fl"></span>
              <h1 class="fl"></h1>
              <span class="line fl"></span>
            </div>
            <div class="cul-box">
              <div class="cul-text">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="pro-box hide">
          <div class="system">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" value="0" id="flag">
</div>

<script>
  $(function () {
    $('.item').removeClass('item-on');
    $('#lion').addClass('item-on');
    var flag = $('#flag').val();
    $('.left-ul li').siblings().removeClass('nav-item-on');
    $('.left-ul li').eq(flag).addClass('nav-item-on');
    $('.left-ul li a ').siblings().removeClass('active');
    $('.left-ul li a ').eq(flag).addClass('active');
    $('.left-ul li a .nav-point').siblings().removeClass('nav-point-on');
    $('.left-ul li a .nav-point').eq(flag).addClass('nav-point-on');
    $('.pro-box').siblings().addClass('hide');
    $('.pro-box').eq(flag).removeClass('hide');
  });
</script>