<%= stylesheet_link_tag 'initalize', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'cur', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'contact', media: 'all', 'data-turbolinks-track' => true %>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=EHPxDEnlCC4ZAyrfOBrmt6nKD4HME5Su"></script>

<div class="session">
  <div class="banner-top banner-top-img7">
    <p>四达鑫机电，用心聆听您的声音</p>
  </div>
  <div class="sess w940">
    <div class="contact">
      <div class="contact-map">
        <div id="allmap"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // 百度地图API功能
  var map = new BMap.Map("allmap");
  var point = new BMap.Point(114.0661741959, 22.6773297652);
  map.centerAndZoom(point, 17);
  var marker = new BMap.Marker(point);  // 创建标注
  map.addOverlay(marker);               // 将标注添加到地图中
  marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
  //添加地图类型控件
  map.addControl(new BMap.MapTypeControl({
    mapTypes:[
      BMAP_NORMAL_MAP,
      BMAP_HYBRID_MAP
    ]}));
  map.setCurrentCity("深圳");          // 设置地图显示的城市 此项是必须设置的
  map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放


  $(function () {
    $('.item').removeClass('item-on');
    $('#contact').addClass('item-on');
  });
</script>

